body {
  margin: 0 0 0 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  font-family: 'Reem Kufi Ink';
}

.player-container {
  display: flex;
}

.player-tiles {
  display: block;
  width: 100%;
}

.player-hand {
  padding: 4px 4px;
  display: flex;
  flex-direction: row;
}

.player-discards {
  padding: 4px 4px;
  display: flex;
}

.player-name {
  color: #FFFFFF;
  text-align: center;
  overflow-wrap: break-word;
  /* vertical-align: middle; */
  padding: .5vh .5vw .5vh .5vw;
  min-width: 10vw;
  max-width: 10vw;
  /* height: 25vh; */

}

.player-name h1 {
  font-size: var(--font-size-small);
}