div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    align-content: center;
    text-align: center;
}

body {
    background-color: #262626;
    color: white;
}

#name
{
    margin: 10px;
    font-size:70px;
    width: 100%;
    height: 150px;
    text-align: center!important;
}

#submit {
    margin: 10px;
    font-size:70px;
}