#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-overlay);
    z-index: 2;
    cursor: not-allowed;
    color: white;
    align-content: center;
    text-align: center;
}

#orientation-warning {
    line-height: var(--font-size-large);
    font-size: var(--font-size-large);
}

table {
    border-collapse: collapse;
    border-style: hidden;
    line-height: normal;
    padding: 10px;
}
  
table td,
table th {
    padding: 10px;
    border: 2px solid var(--fg-white);
}

.modifier {
    border-bottom: 1px solid var(--fg-white);
}

.monospace {
    font-family: monospace;
}

.margin {
    margin-left: 1vw;
    margin-right: 1vw;
}

.bold {
    font-weight: bolder;
}

