body {
    margin: 0 0 0 0;
    padding: 0;
    flex-direction: column;
    display: flex;
}

#container {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  flex-flow: column;
  background-color: #FF0000;
}

.section {
    padding: 1vw 2vh;  
    flex: 1 auto;
    border-top: 1vh solid black;
}

.tile {
    aspect-ratio: 5 / 6;
    min-height: 15vh;
    background-color: #f2ecd8;
    border: .1vh solid #dbd2b694;
    border-left: 2px solid #f2ecd881;
    border-top: 2px solid #f2ecd881;
    border-radius: 5px;
    border-style: line;
    font-family: 'Reem Kufi Ink';
    font-weight: bold;
    font-size: 9vh;
    text-shadow: 5px 5  px 0px #0000002c;
    box-shadow: .5vh .5vh #c0b799, 6px 6px #00000055;
    margin: 0vh .25vw 2vh 0vh;
    text-align: center;
    align-content: center;
    padding: 0 0 0 0;
}

.revealed {
    background-color: #b8b5ab;
    box-shadow: .5vh .5vh #8a836f, 6px 6px #00000055;
}

.tile-group {
    margin: 0vh 4vh 0vh 0vh;
}

#hand {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #34a34c;
}

#steal_options {
    background-color: #344ca3;
}

#revealed_groups {
    background-color: #243f2a;
}

.tile-container {
    margin: 0vh .25vw 2vh 0vh;
}



[selected="False"] {
    margin-top: 2vh;
}

[suit="red"] {
    color: #AA3300;
}

[suit="green"] {
    color: #33AA00;
}

[suit="blue"] {
    color: #3366AA;
}