body {
    margin: 0 0 0 0;
    padding: 0;
    flex-direction: column;
    display: flex;
}

#container {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-flow: column;
}

#orientation-warning {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    align-content: center;
    text-align: center;
}

.prompt-options {
    text-align: center;
}

.prompt-details {
    color: white;
    background-color: #FF00FF;
    margin: 0;
    padding: 1vh;
    font-size: 9vh;
}

#decline-steal{
    font-size: var(--tile-font-size);
    height: var(--tile-size);
}

[selected="False"] {
    margin-top: 2vh;
}

/* Orientation warning */
@media only screen and (orientation:portrait) {
    #container {
        display: none;
    }

    #orientation-warning {
        display: block;
    }
}

@media only screen and (orientation:landscape) {
    #orientation-warning {
        display: none;
    }
}