
:root {
    --tile-size: 14vh;
    --tile-font-size: 9vh!important;
    --tile-box-shadow: .2vh .2vh #c0b799, .5vh .5vh #c0b799, .8vh .8vh #c0b799, 1vh 1vh #00000055;
    
    --tile-size-small: 7.5vh;
    --tile-font-size-small: 5vh!important;
    --tile-box-shadow-small: .1vh .1vh #c0b799, .3vh .3vh #c0b799, .5vh .5vh #c0b799, .6vh .6vh #00000055;
    
    --tile-size-x-small: 6vh;
    --tile-font-size-x-small: 4vh!important;
    --tile-box-shadow-x-small: .05vh .05vh #c0b799, .15vh .15vh #c0b799, .3vh .3vh #c0b799, .35vh .35vh #00000055;
}


.tile {
    aspect-ratio: 5 / 6;
    background-color: var(--bg-tile);
    border: .1vh solid var(--tile-border);
    border-left: 2px solid var(--tile-border-light);
    border-top: 2px solid var(--tile-border-light);
    border-radius: 5px;
    border-style: line;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0 0 0 0;
    min-height: var(--tile-size);
    font-size: var(--tile-font-size);

    display:flex;
    justify-content:center;
    align-items:center;
}

.tile.large-tile {
    box-shadow: var(--tile-box-shadow);
    margin: 0 .8vh .8vh 0;
    min-height: var(--tile-size);
}

.large-tile .material-icons {
    font-size: var(--tile-font-size);
    min-height: var(--tile-size);
}

.tile.small-tile {
    box-shadow: var(--tile-box-shadow-small);
    font-size: var(--tile-font-size-small);
    margin: 0 .5vh .5vh 0;
    min-height: var(--tile-size-small);
}

.small-tile .material-icons {
    font-size: var(--tile-font-size-small);
    min-height: var(--tile-size-small);
}

.tile.x-small-tile {
    box-shadow: var(--tile-box-shadow-x-small);
    font-size: var(--tile-font-size-x-small);
    margin: 0 .4vh .4vh 0;
    min-height: var(--tile-size-x-small);
}

.x-small-tile .material-icons {
    font-size: var(--tile-font-size-x-small);
}

.symbol,
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
}

.tile-container {
    margin: 2vh 5px 0vh 0vh;
}

.tile-group {
    margin: 10px 10px 0vh 0vh;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--bg-tile-group);
    align-content: center;
    text-align: center;
    display: inline-flex;
}

.tile-string {
    align-content: center;
    justify-content: center;
}

.tile.revealed {
    background-color: var(--bg-tile-stolen);
    border: .1vh solid var(--tile-border-stolen);
    box-shadow: var(--tile-side-stolen);
    border-left: 2px solid var(--tile-border-stolen-light);
    border-top: 2px solid var(--tile-border-stolen-light);
}

.tile.flipped {
    background-color: var(--bg-tile-flipped);
    border-left: 2px solid var(--tile-border-flipped-light);
    border-top: 2px solid var(--tile-border-flipped-light);
}

.tile.discarded {
    background-color: var(--bg-tile-highlighted);
}

.tile-container.selected {
    margin-top: 0;
}