{% block board %}
    <div id="board" class="bg-dark-green">
        {% for player in game.players|sort(attribute='name') %}
            <div class="player-container">
                <div class="player-name bg-gray"><h1>{{ player.name }}<br> {{ player.score }} pts</h1></div>
                <div class="player-tiles">
                    <div class="player-hand bg-green">
                        <div class="tile-group bg-transparent">
                        {% for tile in player.hand.hidden %}
                            <button class="tile x-small-tile flipped"></button>
                            {% endfor %}
                        </div>
                        {% for group in player.hand.revealed %}
                            <div class="tile-group" index="{{ loop.index0 }}">
                                {% for tile in group %}
                                    <button class="tile x-small-tile revealed fg-{{ tile.suit }}"><span class="symbol">{{ tile.symbol }}</span></button>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="player-discards bg-dark-green">
                        {% for tile in player.discards %}
                            <button class="tile x-small-tile discarded fg-{{ tile.suit }}"><span class="symbol">{{ tile.symbol }}</span></button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

