{% block overlay %}
    {% if player.overlay=='win-prompt' %}
        <div id="overlay">
            <div id="winning_hand">
                <div class="section-header">
                    <h1>You have a winning hand!</h1>
                </div>
                <div class="section-content">
                    {% for group in player.winning_hands[0] %}
                    <div class="tile-group" index="{{ loop.index0 }}">
                        {% for tile in group %}
                        <button class="tile" highlight suit="{{ tile.suit }}">{{ tile.symbol }}</button>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="options">
                    <button class="prompt-option affirmative" id="accept-win" onclick="win('accept')">Kahjong!</button>
                    <button class="prompt-option negative" id="decline-win" onclick="win('decline')">Decline</button>
                </div>
            </div>
        </div>
    {% elif player.overlay=='winner' %}
        <div id="overlay">
            <div id="winning_hand">
                <div class="section-header">
                    <h1>{{ winner.name }} has won!</h1>
                </div>
                <div class="section-content">
                    {% for group in winner.winning_hands[0] %}
                    <div class="tile-group" index="{{ loop.index0 }}">
                        {% for tile in group %}
                        <button class="tile" highlight suit="{{ tile.suit }}">{{ tile.symbol }}</button>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% if player.is_party_leader %}
                <div class="options">
                    <button class="prompt-option affirmative" onclick="restart()">Restart</button>
                </div>
                {% endif %}
            </div>
        </div>
    {% elif player.overlay=='default' %}
        <div id="overlay"></div>
    {% elif player.overlay=='hidden' %}
        <div id="overlay" style="display: none"></div>
    {% endif %}
{% endblock %}