<!DOCTYPE html>

<head>
    {% include 'head.html' %}
    {% block common %}{% endblock %}
    {% block networking %}{% endblock %}
    <link rel="stylesheet" href="/static/player-view.css">
    <link rel="stylesheet" href="/static/overlay.css">
    <script type="text/javascript" src="/static/player-view.js"></script>
</head>

<body class="bg-dark-green">
    <div id="orientation-warning" class="pane bg-green">
        <h1 class="fg-white">Please rotate to landscape mode</h1>
    </div>
    {% include 'player-overlays.html' %}
    {% block overlay %}{% endblock %}
    <div id="container">
        {% include 'steal_options.html' %}
        {% block steal_options %}{% endblock %}
        {% include 'revealed_groups.html' %}
        {% block revealed_groups %}{% endblock %}
        {% include 'hand.html' %}
        {% block hand %}{% endblock %}
    </div>
</body>