<!DOCTYPE html>

<head>
    {% include 'gameplay-head.html' %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/player-view.css">
    <script type="text/javascript" src="/static/player-view.js"></script>
</head>

<body>
    <div id="orientation-warning">
        <h1>Please rotate to landscape mode</h1>
    </div>
    {% include 'overlay.html' %}
    {% block overlay %}{% endblock %}
    <div id="container">
        {% include 'steal_options.html' %}
        {% block steal_options %}{% endblock %}
        {% include 'revealed_groups.html' %}
        {% block revealed_groups %}{% endblock %}
        {% include 'hand.html' %}
        {% block hand %}{% endblock %}
    </div>
</body>