{% block steal_options%}
{% if player._steal_options|count > 0 %}
<div id="steal_options" class="section">
    <div class="section-header">
        <h1>Steal</h1>
    </div>
    <div class="section-content">
        {% for group in player._steal_options %}
        <div class="tile-group" index="{{ loop.index0 }}">
            {% for tile in group %}
            <button class="tile large-tile stealable fg-{{ tile.suit }}
            {% if tile==player._steal_tile %} bg-highlight {% endif %}" onclick="steal(this)">{{ tile.symbol }}</button>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="tile-group bg-transparent">
            <button class="fg-negative" id="decline-steal" onclick="steal('skip')">Decline</button>
        </div>
    </div>
</div>
{% else %}
<div id="steal_options" class="section" style="display: none"></div>
{% endif %}
{% endblock %}