<!DOCTYPE html>

<head>
    {% include 'head.html' %}
    {% block common %}{% endblock %}
    {% block networking %}{% endblock %}
    <link rel="stylesheet" href="/static/menu.css">
    <script type="text/javascript" src="/static/waiting-for-players.js"></script>

</head>

<body class="bg-dark-green">
    <div class="centered">
        <h2 id="player-counter"><span class="hmargin">Players:</span>{{ num_players }}</h2>
        {% if player.is_party_leader %}
        <button id="start-game" onclick="startGame()">Start</button>
        {% endif %}
    </div>
</body>